numpy==1.15.*
scipy==1.1.*
scikit-learn==0.20.*
Cython==0.29.*
pandas==0.23.*
seaborn
tabulate
matplotlib
networkx==2.*
ipython==7.1.*

networkit==4.6

aiohttp
backoff
beautifulsoup4
mpmath==1.0.*
packaging
plotly
powerlaw==1.4.*
readline

jupyter
