numpy==1.8.*
scipy==0.14.*
scikit-learn==0.19.*

aiohttp
asyncio
backoff
beautifulsoup4
futures
ipython==6.2.*
matplotlib
mpmath==1.0.*
networkit==4.1.1
networkx==2.*
packaging
pandas==0.14.*
plotly
powerlaw==1.4.*
readline
seaborn
tabulate

jupyter
